<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
li {
    text-decoration: none;
    list-style: none;
}
</style>
<body>
    <h1>Join</h1>
    <form action="/register" method="POST">

        <ul>
            <li> 아이디 </li>
            <li> <input type="text" name="id"></li>
            <li> 비밀번호 </li>
            <li> <input type="password" name="pw"></li>
            <li> 이름</li>
            <li> <input type="text" name= "name"></li>
            <li><button>저장</button></li>
        </ul>
    </form>
   
</body>
</html>