

h1
{
    text-align: center;
    font-size: 4em;
    font-family: 'YDI Bold';
    color: #2d2d2d;
    font-family: 'Indie Flower', cursive;
    margin: 10px;

}
a{
    text-decoration: none;
    list-style: none;
    margin-right: 0px;
    width: 50px;
  
}

header{border-bottom: 3px solid #6E6E6E;}
#menu
{
   
  list-style: none;
  text-decoration: none;
    width: 90px;
    height: 90px;
    display: inline-block;
    color: black;
}

li{
    width: 200px;
    margin: 0px;
    display: inline-block;
    padding : 0px;
    color:black ;
    font-size: 22px;
    font-family: 'YDI Bold';
    font-weight: 900;
    vertical-align: middle;
    line-height: 50px;
}
#money
{
    display: inline-block;
    width: 400px;
    float : right;
    margin: 20px;
    margin-top : 30px !important;
}
input
{
    border : none;
    padding: 15px;
    color: black;
    font-family: font-family: 'YDI Bold';
    font-size : 20px; 
    padding : 0px;
    height: 35px;
    font-weight : 700;
    width : 100px;
}
div{
    
    border : 1px solid  gray ;
    width: 280px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
}

#food
{
    width: 220px;
    height: 270px;
    margin: 10px;
}
.food
{
    width: 220px;
    height: 270px;
    margin: 10px;
}
span{
    color: #2d2d2d;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    font-weight: 600;
}
.hover
{
padding-top: 3px;
display: inline-block;
margin: 55px;
margin-left: 50px;
cursor: pointer;
float : left;
}

.hover:hover
{
    padding-top: 0;
    border: 3px solid gray ;
  
}
.div
{
    border :none;
    width : 100vw;

}

#sale{
    position: relative;
    display: inline-block;
    overflow: hidden; /* 불필요한 부분 가리기 */
    padding: 1px;
}
#sale:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100px;
    height: auto;
    background: #7b6251;
    content: "Sale"; /* 보여주는 텍스트 */
    text-align: center;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    padding: 5px 10px;
    left: -30px;
    top: 3px;
    transform: rotate(-30deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#new{
    position: relative;
    display: inline-block;
    overflow: hidden; /* 불필요한 부분 가리기 */
    padding: 1px;
}
#new:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100px;
    height: auto;
    background: #7b6251;
    content: "New"; /* 보여주는 텍스트 */
    text-align: center;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    padding: 5px 10px;
    left: -30px;
    top: 3px;
    transform: rotate(-30deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#hot{
    position: relative;
    display: inline-block;
    overflow: hidden; /* 불필요한 부분 가리기 */
    padding: 1px;
}
#hot:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100px;
    height: auto;
    background: #7b6251;
    content: "HOT"; /* 보여주는 텍스트 */
    text-align: center;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    padding: 5px 10px;
    left: -30px;
    top: 3px;
    transform: rotate(-30deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#order
{
    width: 150px;
    height: 30px;
    color: black;
    float: right;
   margin: 0px;
   cursor: pointer;
}
